<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Detection</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <header>
        <h1>Email Spam Detection</h1>
    </header>
    <div class="main">
        <div class="form">
            <input type="text" id="message" placeholder="Enter Your Email" class="inner">
            <div class="btn" onclick="checkSpam()">Check Spam</div>
            <h2 id="result"></h2>
        </div>
    </div>

<script src="/static/script.js"></script>

</body>
</html>